<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>YouTube Video Downloader</title>
<!-- <link rel="stylesheet" href="/templates/styles.css" -->
<link rel="stylesheet"   href="{{ url_for('static', filename='/styles.css') }}" />
   
</head>
<body style="background: url({{ url_for('static', filename='photo.jpg') }}); background-size: cover; background-repeat: no-repeat; background-position: center center;">
    <h1>YouTube Video Downloader</h1>
    <div class="container">
        <form method="post">
            <label for="video_url">Enter YouTube Video URL:</label>
            <input type="text" id="video_url" name="video_url" required>
            <input type="submit" value="Download">
        </form>
    </div>
    
</body>

</html>



<!-- <!DOCTYPE html>
<html>
<head>
    <title>YouTube Video Downloader</title>
</head>
<body>
    <h1>YouTube Video Downloader</h1>
    <form method="post">
        <label for="video_url">Enter YouTube Video URL:</label><br>
        <input type="text" id="video_url" name="video_url" required><br>
        <input type="submit" value="Download">
    </form>
</body>
</html> -->