body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
   /* background-image: url('/static/images/bg.jpg'); */
 
}

h1 {
    text-align: center;
    margin-top: 20px;
    color: #333;
}

.container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

input[type="text"] {
    width: 90%;
padding: 10px 15px; /* Adjusted padding for left and right */
margin-bottom: 15px;
margin-top: 10px;
border: 1px solid #ccc;
border-radius: 3px;
font-size: 16px;
 
}

input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;


}

input[type="submit"]:hover {
    background-color: #0056b3;
}
